.footer-container {

  display: flex;

  flex-direction: row;

  flex-grow: 1;

  justify-content: center;

  padding: 1em;

}

@media (max-width: 768px) {

  .footer-desktop {
    background-color:  #ebebeb;

    border-bottom: 1px #e0e0e0 solid;

    border-right: 1px #e0e0e0 solid;

    border-left: 1px #e0e0e0 solid;

    border-bottom-left-radius: 5px;

    border-bottom-right-radius: 5px;


  }

}

.footer-size {

  height: 4vh;

}


