.flex-container {
  display: flex;
  flex-direction: column;

}

.light-grey {

  background-color: #ebebeb;

}

.border-solid {

  border: 1px #e0e0e0 solid;

  border-radius: 5px;

}


@media (min-width: 768px)  {

  .list-size {

    width: 65vw;

  }
}

@media (max-width: 768px) {

  .list-size {



    width: 95vw;

  }

}

@media (max-width: 568px){

  .list-size {



    width: 95vw


  }

}
