.header-container {
  flex-direction: row;

  justify-content: space-around;

  flex-grow: 1;
}

.header-size {

  height: 5vh;

}

.right-side-container {

  flex-direction: column;

}

.left-side-container {

  flex-direction: row;

}

.header-padding {

  padding: 1em;

}
