<div class="header-container header-size header-padding">

  <div class="right-side-container">

    <div class="list-name-and-counter">

      <span class="bold-list-title">List Name</span>

      <div class="badge">1</div>

    </div>






      <span>Total 3</span>





  </div>

  <div class="left-side-container">

      <div class="header-buttons-container">

        <button class="header-button">




            <i class="fa fa-plus" aria-hidden="true"></i>




        </button>

        <button class="header-button">

          <i class="fas fa-caret-down"></i>


        </button>

      </div>

  </div>



</div>
