.header-container {

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  flex-grow: 1;
}

.header-size {

  height: 7vh;

}

.bold-list-title{

  font-size: large;

  font-weight: bold;

}

.list-name-and-counter{

  display: flex;

  flex-direction: row;

  justify-content: space-between;

}

.badge {
  padding: 4px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  border-radius: 50%;

  margin-left: 1em;
  background-color: #ff0000;

  justify-self: flex-end;
}






.right-side-container {

  align-content: center;

  display: flex;

  flex-direction: column;

}

.left-side-container {

  align-content: flex-end;


}

.header-buttons-container {

  flex-direction: row;

  display: flex;

  justify-content: space-between;

  align-content: center;

}

.header-button {

  background-color: #ebebeb;

  border-color: #ebebeb;

  align-self: center;

  height: 50px;

  width: 50px;

  border-radius: 50%;

}

.header-button:hover{

  background-color: #d7d7d7;

}

.header-padding {

  padding: 1em;

}
