<div (click)="clickOnItem()" class="item-container item-size" [ngStyle]="{borderLeft: updateLeftBlueBorder() }">

  <div class="item-column">

    <div class="avatar"></div>

    <div class="text-container">

      <div>

        <span class="bolded-head-text">{{item.title}}</span>

      </div>

      <div>

        <span> {{item.subheading}} </span>


      </div>

      <div>

        <span class="grey-text"> {{item.subtext}} </span>

      </div>

      <div>

        <span class="grey-text small-calendar-text"><i class="fa fa-calendar"
                                                       aria-hidden="true"></i>   {{item.date}}  </span>

      </div>


    </div>

  </div>


  <div class="item-column">


    <button class="btn btn_delete_color">

      <i class="fa fa-trash" aria-hidden="true"></i>

    </button>


  </div>


</div>
