.item-container {

  display: flex;

  flex-direction: row !important;

  justify-content: space-between;

  flex-grow: 1;

  background-color: #fff !important;

  border-bottom: 1px #e0e0e0 solid;

  border-top: 1px #e0e0e0 solid;

  padding: 1rem;

  border-left: solid 0.4em #2473bc;

}

.btn {

  height: 50px;

  width: 50px;

  border-radius: 50%;

  align-self: center;

}

.btn_delete_color:hover {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

.text-container {

  margin-left: 2rem;

  display: flex;

  flex-direction: column;

}

.bolded-head-text {

  font-weight: bold;

  font-size: large;
}

.grey-text {

  color: #696969;

}

.small-calendar-text {

  font-size: small;

}

.text-container > div > span {

  line-height: 1.6;

}

.item-column {

  display: flex;

  flex-direction: row;

  justify-content: center;

}

@media (min-width: 768px) {

  .item-icon-container {

    justify-content: center;

  }

  img {

    border-radius: 50%;

    background-size: cover;

    height: 5vh;

  }

  .avatar {

    background-image: url("https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg");

    width: 100px;
    height: 100px;

    background-size: cover;

    background-position: top center;

    border-radius: 50%;

  }

}

@media (max-width: 568px) {

  .item-size {

    height: 17vh !important;

  }

}

.item-size {

  height: 12vh;

}
