<div class="item-container item-size">

  <div class="item-column">

    <div class="avatar"></div>

    <div class="text-container">

      <div>

        <span class="bolded-head-text">Title</span>

      </div>

      <div>

        <span>Subheading</span>



      </div>

      <div>

        <span class="grey-text">Subtext</span>

      </div>

      <div>

        <span class="grey-text small-calendar-text"><i class="fa fa-calendar" aria-hidden="true"></i> Wed Jun 13 2018</span>

      </div>


    </div>

  </div>



  <div class="item-column">



      <button class="btn btn_delete_color">

        <i class="fa fa-trash" aria-hidden="true"></i>

      </button>






  </div>




</div>
